
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>
<div class="col-md-5">
    <div class="right-content">
        <div class="top-content">
            <h6>Register</h6>
            <br />
            <br />
        </div>
        <form id="contact" action="" method="get">
            <div class="row">

                <div class="col-md-12">
                    <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required=""><br /><br />
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <input name="password" Password="text" class="form-control" id="phone-number" placeholder="Password" required=""><br /><br />
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset align="center">
                        <button type="submit" id="form-submit" class="button">LOGIN</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>
